<nav class="navbar bg-body-tertiary">
  <form class="container-fluid justify-content-start shadow-lg">

  <button *ngIf="!authService.isAuthenticated()" (click)="redirectLogin()" class="btn btn-outline-success me-2 m-3" type="button">Login</button>
    <ng-container *ngIf="authService.isAuthenticated()">
      <button  (click)="logout()" class="btn btn-outline-success me-2 m-3" type="button">Logout</button>
      <button  routerLink="createAdvert" class="btn btn-outline-success me-2 m-3" type="button">Create Advert</button>


    </ng-container>


  </form>
</nav>
